# create a class (that do nothing)
class Emp:
pass
e1 = Emp() # create a object of a class
print(e1) # printing the object of the class

# Assingning attributes to the class
e1.first_name = "VIBHU"
e1.last_name = "AADHAV"
# Printing the attributes of the class
print(e1.first_name)
print(e1.last_name)

CLASS VARIABLE:
class Employee:
# Class variable to track the total number of employees
num_of_employees = 0
def __init__(self, first_name, last_name, pay):
self.first_name = first_name
self.last_name = last_name
self.pay = pay
self.email = f"{first_name}.{last_name}@company.com"
# Increment the employee count every time a new employee is created
Employee.num_of_employees += 1
def fullname(self):
return f"{self.first_name} {self.last_name}"
# object creation and accessing the members and member functions of the class
print(f"Initial employee count: {Employee.num_of_employees}") # Accessing the class variable
emp_1 = Employee('Elon', 'Musk', 50000)
emp_2 = Employee('Donald', 'Trump', 60000)
